<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">\
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" >
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    
    <title>{% block title %}SMK-Quiz{% endblock title %}</title>
    
    <style>
        .show-exam-form > .panel, .row > .panel {
            border: none;
        }
        a.select-option {
            text-decoration: none;
        }
        .disabled {
            pointer-events:none;
        }
        #add_questions > .row {
            padding: 10px;
        }
    </style>
</head>
<body>
    
    
    {% include 'nav.html' %}    
        
    {% block content %}
    <h1>Account</h1>
    
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <img src="{% static 'img/ladybug.jpg' %}" alt="Picture of Ladybug">  
    {% endblock content %}
    
    
    <!-- {% include 'footer.html' %} -->
</body>
</html>