{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="dashboard-container">
<div class="single-article">
<div id="exam_list" class="text-center center-block">
    <h1 class="text-center">List Ujian</h1>
    <span class="row"></span>
</div>
<div class="row" id="question-display" style="display:none">
    <div class="panel panel-default ">
        <div class="panel-heading h2 question-place"></div>
        <div class="panel-body">
            <ul class="list-group">
                <a href="#" class="select-option">
                    <li class="list-group-item h3">
                        <span class="glyphicon glyphicon-unchecked"></span>
                        <span class="option option1-place"></span>
                    </li>
                </a>
                <a href="#" class="select-option">
                    <li class="list-group-item h3">
                        <span class="glyphicon glyphicon-unchecked"></span>
                        <span class="option option2-place"></span>
                    </li>
                </a>
                <a href="#" class="select-option">
                    <li class="list-group-item h3">
                        <span class="glyphicon glyphicon-unchecked"></span>
                        <span class="option option3-place"></span>
                    </li>
                </a>
                <a href="#" class="select-option">
                    <li class="list-group-item h3">
                        <span class="glyphicon glyphicon-unchecked"></span>
                        <span class="option option4-place"></span>
                    </li>
                </a>
                <input type="hidden" id="option-answer" value="" />
            </ul>
            <button class="btn btn-default" id="verify">
                <span class="before">Verify</span>
                <span style="display:none" class="glyphicon glyphicon-ok-circle after-ok"></span>
                <span style="display:none" class="glyphicon glyphicon-remove after-not-ok"></span>
            </button>
            <button class="btn btn-default pull-right" id="after">
                <span class="before">Skip</span>
                <span style="display:none" class="glyphicon glyphicon-forward after"></span>
            </button>
        </div>
    </div>
</div>

<div style="display:none" class="jumbotron text-center" id="score">
    <p>Your Score is <span id="count"></span> out of <span id="total"></span></p>
    <form action="{% url 'choice:upload_score' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="test-score" value="" id="test-score">
        <input type="hidden" name="test-name" value="" id="test-name">
        <input type="hidden" name="user" value="{{ request.user.id }}">
        <button class="btn btn-default exit-btn" id="submit-score" type="submit">Selesai</button>
    </form>
</div>

<div id="no-questions" class="jumbotron text-center" style="display:none">
    <p>Sorry! currently there are no questions in this exam</p>
    <button class="btn btn-default exit-btn">Selesai</button>
</div>
</div>
</div>

<script src="{% static 'js/jquery.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/validate.js' %}"></script>
<script>
    function template(id,name)
    {
        return "<div class='row exam-panel'>"+
                "<a href='#'><div class='panel panel-default col-sm-4 col-sm-offset-4'>"+
                "<div class='exam_template panel-body' id="+id+">"+
                name+
                "</div></div></a></div>";
    }
    $.get("/quiz/api/exam/",function(data,status){
        for(i=0;i<data.length;i++)
        {
            //alert(i);
            $("#exam_list").append(template(data[i].id,data[i].name));
        }
    });

    // disable f5
    //function disableF5(e) { if ((e.which || e.keyCode) == 116 || (e.which || e.keyCode) == 82) e.preventDefault(); };
    //$(document).ready(function(){
    //    $(document).on("keydown", disableF5);
    //});
    // disabled right click
    //document.addEventListener("contextmenu", function(e){
    //    e.preventDefault();
    //}, false);
</script>
{% endblock content %}